AuxiliaryData/

BuoyLogs/iml-6/
BuoyLogs/iml-7/
BuoyLogs/iml-10/
BuoyLogs/iml-11/
BuoyLogs/iml-12/
BuoyLogs/iml-14/

lvl*

OGSL/__pycache__
OGSL/iml-6*/
OGSL/iml-7*/
OGSL/iml-10*/
OGSL/iml-11*/
OGSL/iml-12*/
OGSL/iml-14*/
OGSL/statistics/iml-6*
OGSL/statistics/iml-7*
OGSL/statistics/iml-10*
OGSL/statistics/iml-11*
OGSL/statistics/iml-12*
OGSL/statistics/iml-14*

ProcessLVL/makeRuns
ProcessLVL/sendRuns
ProcessLVL/*.sh
ProcessLVL/iml-*/__pycache__
ProcessLVL/iml-*/*.sh
ProcessLVL/iml-*/*.e*
ProcessLVL/iml-*/*.o*
ProcessLVL/iml-6/
ProcessLVL/iml-7/
ProcessLVL/iml-10/
ProcessLVL/iml-11/
ProcessLVL/iml-12/
ProcessLVL/iml-14/
ProcessLVL/plots/__pycache__

RawData/

Results/
